* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(35, 35, 36, 0.911);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
  padding-top: 1%;
  width: 100%;
}

.inputClass input {
  width: 50%;
}

.container {
  background-color: rgba(35, 35, 36, 0.911);
  color: white;
  display: flex;
  flex-flow: wrap;
}

.cardContainer {
  border: 1px solid black;
  display: flex;
  height: 150px;
  margin: 10px;
  width: 300px;
}

.cardContainer img {
  width: 150px;
}

